body {
    background-color: black;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: rgb(189, 216, 231);
}

img {
    border: 5px dotted aqua;
}

div.description h3 {
    background-color: #fde5e5;
    color: maroon;
}